.cls-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cls-2 {
  width: 28%;
}
input {
  padding-left: 27px !important;
}
input::placeholder {
  font-size: 12px;
  margin-left: 15px;
}

.fa-srch {
  position: absolute;
  left: 10px;
  color: #333;
  cursor: pointer;
  margin-top: 11px;
}
.fa-srch:hover {
  cursor: pointer;
}
.fa-srch-rit {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #93959a;
  cursor: pointer;
}
.rigt-arrow {
  right: 6px !important;
  top: 12px !important;
}
.top-search button {
  background: #ec3356;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  text-align: left;
}
.top-search button a {
  color: white;
  text-decoration: none;
}
.top-head button {
  background: none !important;
}
.delivery-box a {
    color: #333;
    font-weight: 600;
    font-size: 15px;
}
.delivery-country{

}
.delivery-box {
  background: transparent linear-gradient(115deg, #FFE3ED 0%, #D9F0FF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
  width: 247px;
  display: flex;
  align-items: center;
  height: 43px;
}
.delivery-country{
  padding: 7px 4px;
  padding-right: 10px;
  border-right: 1px solid #dcdcdc;
  margin-right: 12px;
}

/* Style for the popup */ /* Style for the popup */
.popup-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 42px 70px;
  border-radius: 10px;
  width: 33%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  height: auto;
}

.close-popup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-popup:hover {
  color: #ec3356;
}

/* Styling the heading and text */
.popup-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.popup-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* Radio buttons style */
.radio-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.radio-options label {
  font-size: 14px;
  color: #333;
}

.radio-options input[type="radio"] {
  margin-right: 5px;
}

/* Input container with icon */
.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ec3356;
  font-size: 16px;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 14px;
  border: 2px solid #ff6600;
  border-radius: 5px;
  outline: none;
}

/* Continue Shopping button */
.submit-btn {
  background-color: #ec3356;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #000;
}

.toggl {
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  color: #040000;
  width: 50px;
  text-align: center;
  display: none;
}
.nav-menu {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  list-style-type: none;
  margin: 0;
}
.nav-menu li {
  margin: 10px 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
}
li.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img.img-fluid {
  width: 90px;
  height: auto;
}
.text-us-bar {
  background-color: #ffffff;
  color: #ffffff;
  padding: 6px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.text-us-bar a {
    color: #555555;
    text-decoration: none;
}
***ravi****

element.style {
  background: #F7F7F7 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  margin-top: 0px;
}
.citySearchCmn {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-grow: 0;
}

.flage {
  width: 36px;
  height: auto;
  margin-left: 7px;
}

.container-1 {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header-1 {
	border-bottom: 1px solid #f0f0f0;
	background-color: #d3f4fc;
	padding: 20px 40px;
}

.header-1 h2 {
	margin: 0;
}

.form-1 {
	padding: 30px 40px;	
}

.form-control-1 {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control-1 label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control-1 input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control-1 input:focus {
	outline: 0;
	border-color: #777;
}

.form-control-1.success input {
	border-color: #2ecc71;
}

.form-control-1.error input {
	border-color: #e74c3c;
}

.form-control-1 i {
	visibility: visible;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control-1.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control-1.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control-1 small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control-1.error small {
	visibility: visible;
}

.form button {
	background-color: #867dff;;
	border: 2px solid #867dff;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
	
.btn-call {
   background: #ec3356;
   color: #fff !important;
   padding: 7px 30px;
   transition: 0.3s;
   display: inline-block;
   border-radius: 10px;
}
a {
    color: #333;
    text-decoration: none;
}
div#navbarSupportedContent {
    text-align: center;
}


.tst {
      display: flex;
      flex-direction: column;
  }

  .dis-mobile {
      display: flex;
      justify-content: space-between !important;
      align-items: center;
      gap: 1px;
  }

  .a tst p {
      color: #000 !important;
  }

/*Uper CSS written By Amardeep*/

/*Feb 2025 New CSS*/
.user-icon-grey{
  width: 23px;
}
.nav-link img.delivery-ani{
 width: ;
}
.anim-link{
  border-left: 1px solid #dfdfdf !important;
  margin-left: 20px;
}
.navbar-light.navbar-desktop{
  box-shadow: 0px 15px 10px -15px #999;
  z-index: 1;
  background: #f7f7f7;
}

.category-section{
    display: none;
}

.carousel-control-next, .carousel-control-prev {
    width: 40px;
    height: 40px;
    line-height: 33px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    color: #545454;
    margin: auto 0;
    z-index: 0;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
  color: #333;
}
.carousel-control-next:focus, .carousel-control-prev:focus{
  color: #333;
}
.carousel-control-prev{
  left: 40px;
}
.carousel-control-next{
  right: 40px;
}

.desktop-cart-icons{
  position: relative;
}
.desktop-cart-icons span{
    background: #ED217C;
    border-radius: 50%;
    padding: 0px 7px;
    color: #fff;
    position: absolute;
    right: -12px;
    z-index: 1;
    top: -14px;
    font-size: 14px;
}
.user-icon-grey{
  position: relative;
  z-index: 2;
}

.banner-bottom-menu .nav-link img.shadow {
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    width: 160px;
    transition: transform 0.4s ease-in-out;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}
.banner-bottom-menu .category-list .navbar-nav li .nav-link{
    text-align: center;
    font-size: 16px !important;
    color: #333333;
    font-weight: 600;
    margin-top: 9px;
}
.service-box {
  background: #fff;
}
/*Start Mega Menu Code*/
.border-right {
    border-right: 1px solid #ccc;
}
.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 92%;
    min-width: 760px;
    left: 0;
    right: 0;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0;
    z-index: 5;
}
.megamenu h6{
    margin-left: 7px;
    margin-top: 10px;
    color: #028bc8;
}
.megamenu i{
    width: 20px;
}
.megamenu label{
    font-weight: 700;
    font-size: 13px;
}
.megamenu ul {
  margin: 0;
  padding: 0;
}
.megamenu ul li{
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
}
.megamenu ul li.yellow-strip:before{
    content: "";
    position: absolute;
    width: 2.5px;
    height: 13px;
    left: -5px;
    top: 6px;
    background: url(../images/rectangle.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.megamenu ul li a{
  color: #333;
  font-size: 13px;
}
.megamenu ul li a:hover {
  color: #FF4E89;
}
.megamenu a img{
  border-radius: 10px;
}
.text-pink{
  color: #FF4E89;
}
.border-left{
  border-left: 1px solid #CECECE;
  padding-left: 20px;
}
.dropdown-item{
  font-size: 13px;
}
.dropdown-item:hover{
  color: #FF4E89;
  background: transparent;
}
/*End Mega Menu Code*/

.footer-heading{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
.footer-highlights{
  background: #F5F5F5;
}
.highlights-text{
  margin-left: 15px;
}
.highlights-text h4{
    font-weight: 600;
    color: #666666;
    font-size: 18px;
    margin-bottom: 0;
}
.highlights-text p{
  color: #1b1b1b;
}
.highlights-img img{
  height: 50px;
}
.highlights-box{
  display: flex;
  padding: 20px;
}
.bdr-left{
  border-left: 1px solid #e2e2e2;
}

.bestseller-bg{
  background: #fff7fa 0% 0% no-repeat padding-box; 
  border-radius: 20px;
  padding: 3rem;
}
.img-box.bottom-rounded img{
  border-radius: 7px;
}

.icon-mark-location{
  position: absolute;
  left: 10px;
  top: 12px;
}
.search-right.me-2 .form-control{
  padding-left: 25px !important;
}
.accordion-button:not(.collapsed)::after{
  background-image: url('../images/up.png');
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .banner-bottom-menu .nav-link img.shadow {
      width: 120px;
  }
  .banner-bottom-menu .category-list .navbar-nav li .nav-link {
      font-size: 13px !important;
  }
}

@media only screen and (max-width: 767px) {
	.top-head button a {
		color: #000;
	}
  .mobile-location-new button{
    padding: 0 !important;
  }
  .category-section{
    display: block;
  }
  .banner-bottom-menu{
    display: none;
  }
  .bdr-left{
    border: none;
  }
  .bestseller-bg{
    padding: 0;
    background: none;
    margin-top: 30px;
  }
  .container-fluid.px-5{
    padding: 15px !important;
  }
  .mob-mb-3{
    margin-bottom: 30px;
  }
  .mobile-menu-card .dropdown-menu.show {
    padding: 15px 0;
  }
  .mob-img {
    overflow: hidden;
    height: 35px;
  }
  .mob-img img{
    height: 35px;
    object-fit: cover;
  }
  .container-fluid.px-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .category-list .navbar-nav {
      padding: 10px 0;
  }
  .cakes-area, .fresh-flowers {
      padding-top: 0px;
  }
  .discount-banner.mt-4{
    margin-bottom: 20px;
    margin-top: 30px !important;
  }
  .porduct-detail-section.mt-5{
    margin-top: 0 !important;
  }
  .mobile-header {
    box-shadow: 0px 2px 10px #ccc;
  }
  .crm-login .right-img{
    display: none;
  }
  .crm-login{
    margin-top: 20px;
  }
  .cat-title{
    margin-top: 20px;
  }
}